xml-resources/web-service-references/consultas/wsdl/localhost_8080/Databaseweb/consultas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://SW/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://SW/">

<xs:element name="insertarCliente" type="tns:insertarCliente"/>

<xs:element name="insertarClienteResponse" type="tns:insertarClienteResponse"/>

<xs:element name="listarClientes" type="tns:listarClientes"/>

<xs:element name="listarClientesResponse" type="tns:listarClientesResponse"/>

<xs:complexType name="insertarCliente">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:string" minOccurs="0"/>
<xs:element name="saldo" type="xs:double"/>
<xs:element name="ultimaCompra" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarClientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarClientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="tns:date" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="saldo" type="xs:double"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="ultimaCompra" type="tns:date" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="date">
<xs:sequence/>
</xs:complexType>
</xs:schema>